third-party/boost_1_65_1/*
third-party/boost_1_67_0/*
third-party/LeapSDK/*
third-party/armadillo/*
packages/*
package/*
build/*
Release/*
Debug/*
.vs/*
CMakeFiles/*
vcpkg_installed/*
CmakeLists.txt
Makefile
scripts/appimagetool
client_overlay/CMakeFiles/*
client_overlay/bin/*
client_overlay/obj/*
client_overlay/x64/*
driver_vrwalkinplace/CMakeFiles/*
driver_vrwalkinplace/bin/x64/*
driver_vrwalkinplace/Makefile
driver_vrwalkinplace/obj/*
lib_vrwalkinplace/Makefile
lib_vrwalkinplace/CMakeFiles/*
lib_vrwalkinplace/lib/*
lib_vrwalkinplace/obj/*
*.cmake
*.qmake*
moc_*
CMakeCache.*
*.o
*.a
*.so
*.qmlc
*.pro.user
*.AppImage
*.cache
VRWalkInPlace.VC.VC.opendb
*.db
installer/OpenVR-WalkInPlace.exe
.vs
.vs/*
.vs/VRWalkInPlace
.vs/VRWalkInPlace/*
.vs/VRWalkInPlace/v14/*
.vs/VRWalkInPlace/v15/*
.vscode
*.obj
*.pdb
*.exe
*.log
*.tlog
*.ipch
*.ipdb
*.exp
*.iobj
*.vcxproj.user
